@media (min-width: 1200px) {
  .container {
    max-width: 1300px !important; } }

.footer-logo {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1); }

.navbar {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(21, 53, 80, 0.12);
          box-shadow: 0px 0px 30px 0px rgba(21, 53, 80, 0.12); }

a.tile-title {
  color: #5c34a2 !important; }

.layout-container .dashboard-banner-container {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5c34a2), to(#673ab5));
  background-image: -webkit-linear-gradient(top, #5c34a2, #673ab5);
  background-image: -o-linear-gradient(top, #5c34a2, #673ab5);
  background-image: linear-gradient(to bottom, #5c34a2, #673ab5); }

.token-balance-dropdown[aria-labelledby="dropdown-tokens"] .dropdown-items .dropdown-item:hover {
  color: #5c34a2 !important; }

.copy-icon {
  cursor: pointer;
  height: 18px;
  width: 18px; }
  .copy-icon svg {
    display: block;
    height: 100%;
    width: 100%; }
  .copy-icon path {
    fill: #171717; }

.stakes-top {
  background-color: #171717;
  background-image: -webkit-gradient(linear, left top, right top, from(#5c34a2), to(#673ab5));
  background-image: -webkit-linear-gradient(left, #5c34a2, #673ab5);
  background-image: -o-linear-gradient(left, #5c34a2, #673ab5);
  background-image: linear-gradient(to right, #5c34a2, #673ab5);
  -webkit-box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.25);
  margin-top: -3rem;
  margin-bottom: 3rem;
  padding: 50px 0; }

.stakes-top-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .stakes-top-stats-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: calc(1rem + 4px);
    padding-right: 1rem;
    position: relative; }
    .stakes-top-stats-item::before {
      background-color: #fff;
      border-radius: 2px;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 4px; }
  .stakes-top-stats-label {
    color: #fff;
    display: block;
    white-space: nowrap; }
  .stakes-top-stats-label-item {
    margin-right: 20px; }
    .stakes-top-stats-label-item:last-child {
      margin-right: 0; }
  .stakes-top-stats-value {
    color: #fff;
    display: block;
    font-size: 1.5rem;
    font-weight: 200;
    white-space: nowrap; }
    @media (max-width: 992px) {
      .stakes-top-stats-value {
        font-size: 1.25rem; } }
  @media (max-width: 991.98px) {
    .stakes-top-stats {
      -webkit-column-gap: 30px;
         -moz-column-gap: 30px;
              column-gap: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 30px; } }
  @media (max-width: 991.98px) {
    .stakes-top-stats .stakes-top-stats-item:nth-child(1), .stakes-top-stats .stakes-top-stats-item:nth-child(2), .stakes-top-stats .stakes-top-stats-item:nth-child(3) {
      grid-column-start: 1; }
    .stakes-top-stats .stakes-top-stats-item:nth-child(4) {
      grid-column-start: 2;
      grid-row-start: 1; } }
  @media (max-width: 767.98px) {
    .stakes-top-stats .stakes-top-stats-item {
      grid-column-start: auto !important;
      grid-row-start: auto !important; } }
  @media (max-width: 767.98px) {
    .stakes-top-stats {
      grid-template-columns: 1fr 1fr; } }
  .stakes-top-stats .copy-icon {
    min-width: 18px;
    margin-left: 20px; }
    .stakes-top-stats .copy-icon path {
      fill: #171717; }

.stakes-top-stats-value {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .stakes-top-stats-value div:nth-child(1) {
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    max-width: 100%; }

.stakes-top-stats-label {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  max-width: 100%; }

.stakes-top-stats-login, .stakes-top-stats-login:hover {
  color: #ff3c80;
  text-decoration: none;
  cursor: pointer;
  margin-right: 8px; }

.stakes-address-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .stakes-address-container .stakes-address {
    margin-right: 10px; }
    .stakes-tr-banned .stakes-address-container .stakes-address {
      color: #ff7986; }
    .stakes-address-container .stakes-address a {
      text-decoration: none;
      color: #171717; }
  .stakes-address-container .stakes-address-active {
    color: #171717;
    cursor: pointer; }
  .stakes-address-container .check-tooltip {
    position: relative;
    top: -1px; }

.stakes-controls {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 30px;
  float: left; }

.stakes-control {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #171717;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  margin-right: 25px;
  text-align: left; }
  .stakes-control:last-child {
    margin-right: 0; }

.stakes-control-icon path {
  fill: #171717; }

.stakes-top-stats-item {
  min-width: 180px; }
  .stakes-top-stats-item.stakes-top-stats-item-address {
    min-width: 260px;
    width: 100%; }
  @media (max-width: 767.98px) {
    .stakes-top-stats-item {
      min-width: auto; }
      .stakes-top-stats-item.stakes-top-stats-item-address {
        grid-column-end: span 2 !important; } }

.stakes-top-buttons {
  min-width: 180px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .stakes-top-buttons .btn-add-full {
    margin-bottom: 10px; }
  .stakes-top-buttons .btn-external-link:hover {
    color: #fff; }
  @media (min-width: 576px) {
    .stakes-top-buttons.right {
      margin-left: 10px; } }
  @media (max-width: 991.98px) {
    .stakes-top-buttons {
      grid-column-start: 2;
      grid-row-start: 2;
      justify-self: left; } }
  @media (max-width: 767.98px) {
    .stakes-top-buttons {
      min-width: auto;
      grid-column-end: span 2;
      grid-column-start: auto !important;
      grid-row-start: auto !important;
      justify-self: center; } }

.staking-pg-container {
  padding: 0 30px 30px; }
  .staking-pg-container.at-bottom {
    padding-top: 30px; }

.stake-stats-container {
  margin-top: 10px;
  font-size: 12px; }
  @media (min-width: 992px) {
    .stake-stats-container {
      margin-bottom: -30px; } }

.progress-from-to {
  min-width: 120px;
  max-width: 100%; }
  .stakes-table .progress-from-to {
    width: 120px; }

.progress-from-to-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px; }

.progress-from-to-value {
  color: #333;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2; }
  .stakes-tr-banned .progress-from-to-value {
    color: #ff7986; }

.progress-from-to-background {
  background-color: #f5f6fa;
  border-radius: 2px;
  height: 4px;
  overflow: hidden;
  position: relative; }
  .stakes-tr-banned .progress-from-to-background {
    background-color: #ffdae6; }

.progress-from-to-progress {
  background-color: #171717;
  height: 100%;
  left: 0;
  max-width: 100%;
  position: absolute;
  top: 0; }
  .stakes-tr-banned .progress-from-to-progress {
    background-color: #ff7986; }

.stakes-empty-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 15px 20px; }

.stakes-empty-content-pic {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 50px 0 0; }

.stakes-empty-content-pic-svg-path {
  fill: #171717; }

.stakes-empty-content-info {
  max-width: 400px; }

.stakes-empty-content-title {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 15px;
  text-align: left; }

.stakes-empty-content-text {
  color: #a3a9b5;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  margin: 0 0 25px;
  text-align: left; }

.stakes-btn-remove-pool {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #171717;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  height: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
  .stakes-btn-remove-pool svg {
    margin-right: 10px; }
  .stakes-btn-remove-pool path {
    fill: #171717; }

.modal-stake-right .stakes-progress {
  border-left: 1px solid #e2e5ec;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
  padding: 25px 30px;
  width: 190px; }

.stakes-progress-info {
  margin-bottom: 25px; }
  .stakes-progress-info:last-child {
    margin-bottom: 0; }

.stakes-progress-info-title {
  color: #a3a9b5;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 12px;
  text-align: left; }

.stakes-progress-info-value {
  color: #333;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  text-align: left; }
  .stakes-progress-info-value.link-color {
    color: #171717; }

.stakes-progress-info-link {
  color: #171717;
  cursor: pointer; }

.stakes-progress-graph {
  margin: 0 0 20px;
  position: relative; }

.stakes-progress-graph-canvas {
  position: relative;
  z-index: 1; }

.stakes-progress-graph-thing-for-getting-color {
  color: #171717; }

.stakes-progress-data {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 12; }

.stakes-progress-data-total {
  color: #a3a9b5;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center; }

.stakes-progress-data-progress {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 8px;
  text-align: center; }

.modal-stake {
  max-width: 100%;
  width: 560px; }
  @media (max-width: 767.98px) {
    .modal-stake {
      margin-left: auto;
      margin-right: auto; } }
  @media (max-width: 575.98px) {
    .modal-stake {
      width: 100%; } }

.modal-stake-move {
  max-width: 740px;
  min-width: 740px;
  width: 100%; }
  @media (max-width: 767.98px) {
    .modal-stake-move {
      margin-left: auto;
      margin-right: auto; } }

.modal-stake-three-cols {
  display: grid;
  grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row3-end];
  grid-template-columns: [col1-start] auto [col2-start] auto [col3-start] auto [col3-end]; }
  .modal-stake-three-cols > div {
    grid-column: col2-start; }
  .modal-stake-three-cols .modal-stake-left {
    grid-column: col1-start;
    grid-row: row1-start / row3-end; }
  .modal-stake-three-cols .modal-stake-right {
    grid-column: col3-start;
    grid-row: row1-start / row3-end; }
  @media (max-width: 575.98px) {
    .modal-stake-three-cols {
      grid-template-columns: [col1-start] auto [col1-end];
      grid-template-rows: auto; }
      .modal-stake-three-cols > div {
        grid-column: col1-start; }
      .modal-stake-three-cols .modal-stake-left {
        width: 100%;
        grid-column: col1-start;
        grid-row: 3; }
      .modal-stake-three-cols .modal-stake-right {
        grid-column: col1-start;
        grid-row: 4; }
      .modal-stake-three-cols .stakes-progress {
        width: auto;
        padding-top: 15px;
        padding-bottom: 15px; }
        .modal-stake-three-cols .stakes-progress .stakes-progress-graph {
          float: left;
          width: 130px;
          margin-right: 15px; }
        .modal-stake-three-cols .stakes-progress .stakes-progress-info-title {
          float: left;
          margin-right: 15px; }
        .modal-stake-three-cols .stakes-progress .stakes-progress-info {
          margin-bottom: 15px; } }

.modal-stake-two-cols {
  display: grid;
  grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row3-end];
  grid-template-columns: [col1-start] auto [col2-start] 190px [col2-end]; }
  .modal-stake-two-cols > div {
    grid-column: col1-start; }
  .modal-stake-two-cols .modal-stake-right {
    grid-column: col2-start;
    grid-row: row1-start / row3-end; }
  @media (max-width: 575.98px) {
    .modal-stake-two-cols {
      grid-template-columns: [col1-start] auto [col1-end];
      grid-template-rows: auto; }
      .modal-stake-two-cols .modal-stake-right {
        grid-column: col1-start;
        grid-row: 3; }
      .modal-stake-two-cols .stakes-progress {
        width: auto;
        padding-top: 15px;
        padding-bottom: 15px; }
        .modal-stake-two-cols .stakes-progress .stakes-progress-graph {
          float: left;
          width: 130px;
          margin-right: 15px; }
        .modal-stake-two-cols .stakes-progress .stakes-progress-info-title {
          float: left;
          margin-right: 15px; }
        .modal-stake-two-cols .stakes-progress .stakes-progress-info {
          margin-bottom: 15px; } }

.modal-stake-left {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
  padding: 25px 30px;
  width: 190px;
  height: 100%;
  border-right: 1px solid #e2e5ec; }

.modal-become-candidate {
  max-width: 400px;
  width: 100%; }
  @media (max-width: 767.98px) {
    .modal-become-candidate {
      margin-left: auto;
      margin-right: auto; } }

.modal-claim-reward {
  max-width: 400px;
  width: 100%; }
  @media (max-width: 767.98px) {
    .modal-claim-reward {
      margin-left: auto;
      margin-right: auto; } }

.modal-claim-reward label {
  margin-bottom: 0; }

.modal-claim-reward p {
  margin-bottom: 0.3rem;
  width: 100%; }
  .modal-claim-reward p.m-b-0 {
    margin-bottom: 0; }

.modal-claim-reward textarea {
  background: #fff !important;
  height: 38px; }

.modal-claim-reward .amounts {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 80px;
  grid-gap: 2vw; }

.modal-validator-info {
  max-width: 660px;
  width: 100%; }
  @media (max-width: 767.98px) {
    .modal-validator-info {
      margin-left: auto;
      margin-right: auto; } }
  .modal-validator-info .modal-title {
    margin-bottom: 10px; }
  .modal-validator-info #pool_name {
    width: 100%;
    margin-bottom: 10px; }
  .modal-validator-info #pool_description {
    width: 100%; }

.modal-validator-info-content {
  background-color: #f6f7f9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #a3a9b5;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  display: grid;
  font-size: 12px;
  font-weight: normal;
  grid-template-columns: 1fr 1fr 1fr;
  line-height: 1.67;
  padding: 25px 30px;
  row-gap: 30px; }
  @media (max-width: 767.98px) {
    .modal-validator-info-content {
      grid-template-columns: 1fr 1fr; } }

.modal-validator-info-item-title {
  color: #a3a9b5;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 15px;
  padding: 0;
  text-align: left; }

.modal-validator-info-item-value {
  color: #333;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  padding: 0; }

.modal-validator-alert {
  padding: 10px 30px;
  background-color: #fff3f7;
  color: #ff7986;
  border-top: 1px solid #fee6ef;
  border-bottom: 1px solid #fee6ef;
  line-height: 1.5;
  font-size: 14px; }

.modal-delegators-info {
  max-width: 960px;
  min-width: 960px;
  width: 100%; }
  .modal-delegators-info .modal-body {
    padding: 0 0 25px; }

.modal-bottom-disclaimer {
  background-color: #f6f7f9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #a3a9b5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.67;
  padding: 25px 30px;
  text-align: left; }
  .modal-bottom-disclaimer.b-b-r-0 {
    border-bottom-right-radius: 0; }
  .modal-bottom-disclaimer.b-b-l-0 {
    border-bottom-left-radius: 0; }
  .modal-bottom-disclaimer .modal-bottom-disclaimer-graphic {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 15px; }
    .modal-bottom-disclaimer .modal-bottom-disclaimer-graphic svg {
      fill: #333; }
  .modal-bottom-disclaimer .modal-bottom-disclaimer-text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

.stakes-btn-close-alert {
  position: absolute;
  left: 0.5em;
  top: 1em;
  border-style: none;
  background: transparent;
  outline: none !important; }
  .stakes-btn-close-alert path {
    fill: #171717; }

